.pragmatic_logo{
    font-family: 'Italianno', cursive;
}

.pragmatic_footer_button{
    font-size: .6rem;
}

.pragmatic_footer{
    text-align:center;
    margin-top:2rem;
}
.header{
    text-align:center;
    margin:2rem 0 ;

}